.form {
	border: 1px solid #6d6b6d41;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	transition: background-color 0.3s all;
}
.form:hover {
	background-color: #4b4a4a51;
}
.form input {
	display: block;
	margin: 15px 0;
	padding: 7px 40px;
	border-radius: 10px;
	transition: border-color 0.4s ease;
	border: 3px solid transparent;
}
.form input:focus{
	border-color: aqua;
}
p {
	font-size: 12px;
	margin-left: 5px;
	color: antiquewhite;
}